@import "config";
@import "utilities";

// Navbar
nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: all 0.3s ease-in-out;

  .nav-links {
    li {
      a {
        position: relative;
        font-family: "Josefin Sans", sans-serif;
        text-transform: capitalize;
        color: $white;

        &::after {
          content: "";
          position: absolute;
          bottom: -10px;
          left: 0;
          background-color: $white;
          height: 2px;
          width: 0;
          transition: all 0.3s ease-in-out;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }
}

.active {
  background-color: $black;
}

.active .nav-center {
  padding: 1.5rem 2rem;
}

.show .links-container {
  height: 100vh;
}

.show .line {
  opacity: 0;
}
.show #line1 {
  opacity: 1;
  transform: rotate(45deg) translate(4px, 3px);
}
.show #line3 {
  opacity: 1;
  transform: rotate(-45deg) translate(8px, -7px);
}

// Banner

.banner {
  position: relative;
  background-image: url(../images/mobile/image-hero.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .banner-typography-container {
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 1.5rem;
    border: 2px solid $white;

    .banner-typography {
      font-family: $main-font;
      font-weight: 300;
      color: $white;
    }
  }
}

// About section

.company-info {
  max-width: 90%;
  margin: 160px auto;

  .section-img {
    img {
      width: 100%;
    }
  }

  .company-info-typography {
    text-align: center;
    margin: 1rem;
    padding: 1.2rem;

    .section-title {
      text-transform: uppercase;
      color: $very-dark-gray;
      font-family: $main-font;
      font-size: 2rem;
      font-weight: 300;
    }

    .section-description {
      padding-top: 1.2rem;
      font-family: $secondary-font;
      color: $dark-gray;
    }
  }
}

// Creations

.company-creations {
  max-width: 85%;
  margin: 0 auto;

  .section-title {
    text-align: center;
    text-transform: uppercase;
    color: $black;
    font-family: $main-font;
    font-size: 2.5rem;
    font-weight: 300;
    padding-bottom: 3rem;
  }

  #top-link {
    display: none;
  }

  .company-creations-cards {
    .company-creations-item {
      position: relative;
      margin-bottom: 1.5rem;
      cursor: pointer;

      .card-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: linear-gradient(
          to top,
          rgba(0, 0, 0, 0.8),
          rgba(0, 0, 0, 0)
        );
        transition: all 0.3s ease-in-out;
      }

      &:hover > .card-overlay {
        background-image: none;
        background-color: hsla(0, 0%, 100%, 0.7);
      }

      .creation-title {
        position: absolute;
        bottom: 1.5rem;
        left: 2rem;
        width: 9ch;
        font-family: $main-font;
        font-weight: 300;
        font-size: 2rem;
        text-transform: uppercase;
        color: $white;
        transition: all 0.3s ease-in-out;
      }

      &:hover > .creation-title {
        color: $black;
      }

      #fourth-creation {
        width: 7ch;
      }

      .creation-img {
        img {
          width: 100%;
        }
      }
    }
  }

  a {
    display: block;
    width: 12.5rem;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: $black;
    font-family: $secondary-font;
    font-size: 1.2rem;
    border: 1.5px solid $black;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: $black;
      color: $white;
    }
  }
}

// Footer

footer {
  text-align: center;
  background-color: $black;
  color: $white;
  margin-top: 7rem;
  padding: 4rem 0;
  .footer-links {
    li {
      margin: 1rem 0;

      a {
        position: relative;
        font-family: $secondary-font;
        font-size: 1.3rem;
        color: $white;

        &::after {
          content: "";
          position: absolute;
          bottom: -10px;
          left: 0;
          background-color: $white;
          height: 2px;
          width: 0;
          transition: all 0.3s ease-in-out;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }
  .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;

    li {
      position: relative;
      cursor: pointer;
      margin: 1rem 0.5rem;

      &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        background-color: $white;
        height: 2px;
        width: 0;
        transition: all 0.3s ease-in-out;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  p {
    font-family: $secondary-font;
    color: $dark-gray;
  }
}

@media only screen and (max-width: 900px) {
  .active .nav-center {
    padding: 0;
  }

  .active .nav-header {
    padding: 2rem 1.75rem;
  }

  .nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 1.75rem;
    background-color: transparent;

    .nav-toggle {
      cursor: pointer;
      .line {
        display: block;
        background-color: $white;
        height: 4px;
        width: 25px;
        border-radius: 4px;
        margin-bottom: 4px;
        transition: 0.3s ease-in-out;
      }
    }
  }

  .links-container {
    display: flex;
    align-items: center;
    background-color: $black;
    height: 0;
    overflow: hidden;
    transition: 0.6s cubic-bezier(0, 1, 0.5, 1);

    .nav-links {
      li {
        a {
          display: block;
          padding: 0 0 1.5rem 1rem;
          font-family: "Josefin Sans", sans-serif;
          font-weight: 300;
          font-size: 1.8rem;
          text-transform: uppercase;
          color: $white;

          &::after {
            bottom: 20px;
          }
        }
      }
    }
  }

  // banner

  .banner {
    .banner-typography-container {
      max-width: 90%;
      margin: 0 auto;
      font-size: 1.4rem;
    }
  }

  // about

  .company-info {
    .company-info-typography {
      width: 100%;
      margin: 0 auto;
      .section-description {
        font-size: 15px;
      }
    }
  }

  // Creations
  .company-creations {
    .section-title {
      font-size: 2rem;
    }
  }
}

@media only screen and (min-width: 900px) {
  .nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 5rem;
  }

  .links-container {
    height: auto !important;

    .nav-links {
      display: flex;
      align-items: center;

      li {
        margin-right: 1.2rem;
      }
    }
  }

  // Hero

  .banner {
    background-image: url(../images/desktop/image-hero.jpg);
    background-size: cover;
    height: 92vh;

    .banner-typography-container {
      padding: 2.3rem;
      max-width: 650px;
      font-size: 2.5rem;
      transform: translate(-80%, -50%);
    }
  }

  // About

  .company-info {
    position: relative;
    .section-img {
      img {
        width: 70%;
      }
    }

    .company-info-typography {
      text-align: left;
      position: absolute;
      background-color: $white;
      max-width: 550px;
      bottom: -15px;
      right: 30px;
      padding: 4rem;

      .section-title {
        font-size: 3rem;
      }

      .section-description {
        font-size: 1rem;
      }
    }
  }

  // Creations
  .company-creations {
    max-width: 90%;

    .section-top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 3rem;

      .section-title {
        text-align: left;
        padding-bottom: 0;
      }

      #top-link {
        display: block;
        margin: 0;
      }
    }

    .company-creations-cards {
      display: grid;
      grid-template-columns: repeat(4, minmax(200px, 1fr));
      gap: 1.5rem;

      .company-creations-item {
        margin-bottom: 0;
      }
    }

    #bottom-link {
      display: none;
    }
  }

  // footer
  footer {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 2rem 5rem;

    .footer-links {
      display: flex;
      align-items: center;
      li {
        margin-right: 1rem;
      }
    }

    .social-links {
      justify-content: flex-end;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .company-creations {
    .company-creations-cards {
      grid-template-columns: repeat(3, minmax(255px, 1fr));
    }
  }
}

@media only screen and (max-width: 900px) {
  .company-creations {
    .company-creations-cards {
      grid-template-columns: repeat(2, minmax(255px, 1fr));
    }
  }
}
